@value makerBlack, makerWhite from '../../common/colors.css';

.container {
  background-color: makerBlack;
  padding: 0.9rem 0;
}

.span {
  display: block;
  color: makerWhite;
  text-align: center;
  font-size: 0.8rem;
}